# =========================================
# APP CONFIG
# =========================================
NODE_ENV=development
HOST=localhost
PORT=4000

# =========================================
# DATABASE
# =========================================
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database>

# =========================================
# AUTH / SECURITY
# =========================================
JWT_SECRET=your_jwt_secret_min_32_characters

# =========================================
# URLS
# =========================================
API_BASE_URL=http://localhost:4000
ADMIN_BASE_URL=http://localhost:5173

# =========================================
# BETTER AUTH
# =========================================
BETTER_AUTH_SECRET=your_better_auth_secret_min_32_characters
BETTER_AUTH_BASE_URL=http://localhost:4000

# =========================================
# MAIL / BREVO SMTP
# =========================================
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
BREVO_SMTP_SECURE=false
MAIL_FROM_EMAIL=no-reply@example.com
MAIL_FROM_NAME=Admin Panel

# =========================================
# CORS
# =========================================
CORS_ORIGIN=http://localhost:5173

# =========================================
# DEFAULT ADMIN (OPTIONAL)
# =========================================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_password
ADMIN_NAME=Admin

# =========================================
# AWS S3 media storage
# =========================================
AWS_REGION=w
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_PUBLIC_BASE_URL=
