@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #041008;

  --primary: #0a2d14; /* Dark green */
  --primary-foreground: #ffffff;

  --secondary: #eef1ec;
  --secondary-foreground: #0a2d14;

  --muted: #f7f9f6;
  --muted-foreground: #4e6355;

  --border: #eaede8;

  --radius-sm: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-border: var(--border);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #041008;
    --foreground: #ffffff;

    --primary: #ffffff;
    --primary-foreground: #0a2d14;

    --secondary: #1a3a24;
    --secondary-foreground: #ffffff;

    --muted: #112818;
    --muted-foreground: #a6bea9;

    --border: #23452f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
